<!DOCTYPE html>
<html>
	<head>
		<title>Cover Scherm</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/frontend/css/scherm.css">
		<?php foreach ($slides as $slide => $options): ?>
			<?php if (!empty($options['stylesheet'])): ?>
				<link rel="stylesheet" href="<?=markup_format_attribute($options['stylesheet'])?>">
			<?php endif ?>
		<?php endforeach ?>
	</head>
	<body>
		<div class="slides-container">
			<?php foreach ($slides as $slide => $options): ?>
			<div class="slide"
				data-name="<?=basename($options['path'])?>"
				data-url="?slide=<?=$slide?>"
				data-time="20"></div>
			<?php endforeach ?>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/frontend/js/FlowGallery.js"></script>
		<script src="/frontend/js/scherm.js"></script>
	</body>
</html>
