html, body {
	margin: 0;
	overflow: hidden;
	font: 24px/32px sans-serif;
	cursor: none;
}

h1, h2, h3 {
	color: #C60C30;
}

h1 {
	
}

figure {
	margin: 0;
}

.slide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;

	/*transition: all 0.8s ease;*/
}

.slide {
	-webkit-transform: translate(-150%, 0);
	-moz-transform: translate(-150%, 0);
	transform: translate(-150%, 0);
}

.slide.current {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
}

.slide.current + .slide {
	-webkit-transform: translate(150%, 0);
	-moz-transform: translate(150%, 0);
	transform: translate(150%, 0);
}

.slide .collage h1,
.slide .maikel h1,
.slide .header {
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 10;
}

.slide .header small {
	display: block;
	font-size: 0.5em;
	line-height: 2em;
}

.slide .collage{
	background: black;
	width: 100%;
	height: 100%;
}

.slide .collage ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide .collage .foto {
	box-sizing: border-box;
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid black;
	position: relative;
}

.slide .collage .foto img{
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.slide .collage .foto  .description{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 7px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	z-index: 3;
}

.text-outline-thin-white{
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;

}

.text-outline-thick-white{
	text-shadow:
		1px 1px 0 white,
		-1px 1px 0 white,
		1px -1px 0 white,
		-1px -1px 0 white,
		0px 1px 0 white,
		0px -1px 0 white,
		-1px 0px 0 white,
		1px 0px 0 white,
		2px 2px 0 white,
		-2px 2px 0 white,
		2px -2px 0 white,
		-2px -2px 0 white,
		0px 2px 0 white,
		0px -2px 0 white,
		-2px 0px 0 white,
		2px 0px 0 white,
		1px 2px 0 white,
		-1px 2px 0 white,
		1px -2px 0 white,
		-1px -2px 0 white,
		2px 1px 0 white,
		-2px 1px 0 white,
		2px -1px 0 white,
		-2px -1px 0 white;
}
